<section class="splash-section">
    <div class="header-container mx-auto w-[80%] flex  items-center justify-between ">
    <div class="border-black border-2 rounded-full w-[100px] h-[100px]">
        <i  class=" fas fa-utensils  text-6xl logo-icon rounded-[30px] p-5"></i>
    </div>
        <h1 class="font-bold text-[9rem] ">Recipe On <br> Rails</h1>
    </div>
    <div class="login-register-container h-[40vh] flex items-end justify-center">
        <div class="login-register-buttons flex py-5 rounded-lg overflow-hidden">
             <%= link_to "Log In", new_user_session_path, class: 'border rounded-md btn px-5 py-1 me-4' %>
            <%= link_to "Sign Up", new_user_registration_path, class: 'border rounded-md btn px-5 py-1 me-4' %>
        </div>
    </div>
</section>
