<%= render "shared/navbar" %>
<h1 class="bg-primary text-2xl text-center font-extrabold">My Recipe</h1>
<div class="flex flex-col gap-2 items-center bg-primary p-6">
  <% @recipes.includes(:user).each do |r| %>
      <%= render "shared/recipe_card", recipe: r %>
  <% end %>
</div>
