<section class="navbar-section">
    <ul class="navbar-container flex justify-around">
        <li>Public Recipes</li>
        <li>My Recipes</li>
        <li>My Ingredients</li>
        <li>Shopping list</li>
<li><%= link_to "Sign Out", sign_out_user_path %></li>
    </ul>
</section>