<%= render "shared/navbar" %>
<section class="food-body-section">
    <div class="food-body-container">
        <h2>My Ingredients</h2>
        <% if @foods.empty?%>
            <h2>You don't have any Ingredients yet</h2>
            <%= link_to "Add Ingredient", new_food_path%>
        <% end %>
    </div>
</section>
